$(function () {
    $('#{{ id }}').highcharts({
        chart: {
            type: 'bar'
        },
        title: {
            text: '{{ title }}'
        },
        xAxis: {
            title: {
                text: '{{ title_xaxis }}'
            },
            categories: [{% for label in xlabel %}'{{ label }}',{% endfor %}]
        },
        yAxis: {
            title: {
                text: '{{ title_yaxis }}'
            }
        },
        series: [
            {% for elem in values %}
            {
            name: '{{ elem.name }}',
            data: [{% for v in elem.yvalue %}{{ v }},{% endfor %}]
            },
            {% endfor %}
        ],
        credits: {
            enabled: false
        }
    });
});
