{% extends "base.html" %}

{% block title %}
    OSR | Registro
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="box">
                <div class="box-header with-border">
                    <h1>Registro</h1>
                </div>
                <div class="box-body">
                    <p style="font-size:20px">La cuenta está activada</p>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
{% endblock %}
