{% extends "base.html" %}
{% load bootstrap %}

{% block title %}
    OSR | Restablecer contraseña
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="box">
                <div class="box-header with-border">
                    <h1>Restablecimiento de contraseña completado</h1>
                </div>
                <div class="box-body">
                    <p>Password reset successfully</p>

                    <p><a href="{% url 'auth_login' %}">Log in</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
{% endblock %}