{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
    Observatorio de Seguridad de la Red Chilena
{% endblock %}

{% block user %}
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a>
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-user-plus"" aria-hidden="true"></i> Registrar</a>
    </li>
{% endblock %}

{% block content %}
    <div class="row">
         <div class="col-md-2"></div>
         <div class="col-md-8">
             <div class="box">
                <div class="box-header with-border">
                    <h1>Monitoreo Activo</h1>
                </div>
                 <div class="box-body">
                     <p style="font-size:20px">Desde el Departamento de Ciencias de la Computación de la Universidad de Chile (DCC), nos encontramos
                     monitoreando el estado de seguridad de la red chilena, con fines estadísticos. En el marco de este estudio,
                     todos los equipos con IP publica asociados a Chile, son analizados a través de paquetes TCP-SYN. Este
                     proceso no interfiere con el normal funcionamiento de las redes estudiadas. Si desea que sus equipos sean
                     excluidos de este estudio, contactase con scan@clcert.cl</p>

                     <p style="font-size:20px">La información obtenida en este estudio, se encuentra disponible a través de este sitio web, para su libre uso.</p>
                     <div style="width: 50%; margin: 0 auto; ">
                        <img src="{% static "image/uchile.png" %}" alt="Universidad de Chile" height="100%" width="100%"/>
                     </div>
                 </div>
             </div>
        </div>
        <div class="col-md-2"></div>
    </div>
{% endblock %}
