<style>
    .firstLine td{
        border-bottom: 3px solid #3C8DBC;
    }
</style>
<div class="box box-primary httpTable_{{ port }}" id="certificateTable">
    <div class="box-header with-border">
        <h3 class="box-title"><b>{{ protocol }}</b> (port {{ port }})</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool leftButton"><i class="fa fa-chevron-left"></i></button>
            <button type="button" class="btn btn-box-tool rightButton"><i class="fa fa-chevron-right"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
    </div>
    <div class="box-body">
        <table id="cert_table" class="table table-hover table_certificate" >
            {% if date %}
            <tr>
                <td><b>Date:</b></td>
                <td class="table_date_certificate">{{ date }}</td>
            </tr>
            {% endif %}

            {% if error %}
            <tr>
                <td><b>Error:</b></td>
                <td>{{ error }}</td>
            </tr>
            {% endif %}

            {% if validate != None %}
                <tr>
                    <td><b>Validate Certificate:</b></td>
                    <td>{{ validate }}</td>
                </tr>
            {% endif %}

            {% if validation_error %}
                <tr>
                    <td><b>Validation Error:</b></td>
                    <td>{{ validation_error }}</td>
                </tr>
            {% endif %}

            {% if tls_protocol %}
            <tr>
                <td><b>TLS Protocol:</b></td>
                <td>{{ tls_protocol }}</td>
            </tr>
            {% endif %}

            {% if cipher_suite %}
            <tr>
                <td><b>Cipher Suite:</b></td>
                <td>{{ cipher_suite }}</td>
            </tr>
            {% endif %}
            {% if supported_protocols %}
            <tr class="info"><td><b>Supported Protocols:</b></td><td></td></tr>
                <tr>
                    <td style="text-align: right"><b>TLS V1.2</b></td>
                    <td>{% if supported_protocols.TLS_12 %}
                        <span class="label label-success" style="font-size: 14px">{{ supported_protocols.TLS_12 }}</span>
                        {% else %}
                        <span class="label label-danger" style="font-size: 14px">{{ supported_protocols.TLS_12 }}</span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right"><b>TLS V1.1</b></td>
                    <td>{% if supported_protocols.TLS_11 %}
                        <span class="label label-success" style="font-size: 14px">{{ supported_protocols.TLS_11 }}</span>
                        {% else %}
                        <span class="label label-danger" style="font-size: 14px">{{ supported_protocols.TLS_11 }}</span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right"><b>TLS V1.0</b></td>
                    <td>{% if supported_protocols.TLS_10 %}
                        <span class="label label-success" style="font-size: 14px">{{ supported_protocols.TLS_10 }}</span>
                        {% else %}
                        <span class="label label-danger" style="font-size: 14px">{{ supported_protocols.TLS_10 }}</span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right"><b>SSL V3.0</b></td>
                    <td>{% if supported_protocols.SSL_30 %}
                        <span class="label label-success" style="font-size: 14px">{{ supported_protocols.SSL_30 }}</span>
                        {% else %}
                        <span class="label label-danger" style="font-size: 14px">{{ supported_protocols.SSL_30 }}</span>
                        {% endif %}
                    </td>
                </tr>
            {% endif %}
            {% if chain %}
                <tr class="info"><td><b>Chain:</b></td><td></td></tr>
                {% for cert in chain %}
                    {% if cert.subject %}
                        <tr>
                            <td style="text-align: right"><b>Common Name Subject:</b></td>
                            <td>{{ cert.subject.common_name }}</td>
                        </tr>
                        <tr>
                            <td style="text-align: right"><b>Organization Name Subject:</b></td>
                            <td>{{ cert.subject.organization_name }}</td>
                        </tr>
                    {% endif %}
                    {% if cert.issuer %}
                        <tr>
                            <td style="text-align: right"><b>Common Name Issuer:</b></td>
                            <td>{{ cert.issuer.common_name }}</td>
                        </tr>
                        <tr>
                            <td style="text-align: right"><b>Organization Name Issuer:</b></td>
                            <td>{{ cert.issuer.organization_name }}</td>
                        </tr>
                    {% endif %}
                    <tr>
                        <td style="text-align: right"><b>Key Bits:</b></td>
                        <td>{{ cert.key_bits }}</td>
                    </tr>
                    <tr {% if not forloop.last %}class="firstLine"{% endif %} >
                        <td style="text-align: right"><b>Signature Algorithm:</b></td>
                        <td>{{ cert.signature_algorithm }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
            {% if supported_cipher_suites %}
            <tr class="info"><td><b>Supported Ciphers Suites:</b></td><td></td></tr>
            <tr>
                <td style="text-align: right"><b>Null Ciphers</b></td>
                <td>{% if supported_cipher_suites.null_ciphers %}
                    {{ supported_cipher_suites.null_ciphers }}
                    {% else %}
                    Not Supported
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td style="text-align: right"><b>Anonymous Null Ciphers</b></td>
                <td>{% if supported_cipher_suites.anonymous_null_ciphers %}
                    {{ supported_cipher_suites.anonymous_null_ciphers }}
                    {% else %}
                    Not Supported
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td style="text-align: right"><b>Anonymous DH Ciphers</b></td>
                <td>{% if supported_cipher_suites.anonymous_dh_ciphers %}
                    {{ supported_cipher_suites.anonymous_dh_ciphers }}
                    {% else %}
                    Not Supported
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td style="text-align: right"><b>Export 40 Ciphers</b></td>
                <td>{% if supported_cipher_suites.export_40_ciphers %}
                    {{ supported_cipher_suites.export_40_ciphers }}
                    {% else %}
                    Not Supported
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td style="text-align: right"><b>Low Ciphers</b></td>
                <td>{% if supported_cipher_suites.low_ciphers %}
                    {{ supported_cipher_suites.low_ciphers }}
                    {% else %}
                    Not Supported
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td style="text-align: right"><b>Medium Ciphers</b></td>
                <td>{% if supported_cipher_suites.medium_ciphers %}
                    {{ supported_cipher_suites.medium_ciphers }}
                    {% else %}
                    Not Supported
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td style="text-align: right"><b>DES3 Ciphers</b></td>
                <td>{% if supported_cipher_suites.des3_ciphers %}
                    {{ supported_cipher_suites.des3_ciphers }}
                    {% else %}
                    Not Supported
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td style="text-align: right"><b>High Ciphers</b></td>
                <td>{% if supported_cipher_suites.high_ciphers %}
                    {{ supported_cipher_suites.high_ciphers }}
                    {% else %}
                    Not Supported
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td style="text-align: right"><b>FREAK</b></td>
                <td>{% if supported_cipher_suites.freak %}
                    {{ supported_cipher_suites.freak }}
                    {% else %}
                    Not Supported
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td style="text-align: right"><b>LogJam</b></td>
                <td>{% if supported_cipher_suites.logjam %}
                    {{ supported_cipher_suites.logjam }}
                    {% else %}
                    Not Supported
                    {% endif %}
                </td>
            </tr>
            {% endif %}
        </table>
    </div>
</div>
<script>
    $('#certificateTable .leftButton').on('click', LeftHTTPS('{{ ip }}'));
    $('#certificateTable .rightButton').on('click', RightHTTPS('{{ ip }}'));
</script>
