<div class="box box-primary httpTable_{{ port }}" id="certificateTable">
    <div class="box-header with-border">
        <h3 class="box-title"><b>{{ protocol }}</b> (port {{ port }})</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool leftButton"><i class="fa fa-chevron-left"></i></button>
            <button type="button" class="btn btn-box-tool rightButton"><i class="fa fa-chevron-right"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
    </div>
    <div class="box-body">
        <table id="cert_table" class="table table-hover table_certificate" >
            {% if date %}
            <tr>
                <td><b>Date:</b></td>
                <td class="table_date_certificate">{{ date }}</td>
            </tr>
            {% endif %}

            {% if error %}
            <tr>
                <td><b>Error:</b></td>
                <td>{{ error }}</td>
            </tr>
            {% endif %}

            {% if validate != None %}
                <tr>
                    <td><b>Validate Certificate:</b></td>
                    <td>{{ validate }}</td>
                </tr>
            {% endif %}

            {% if validation_error %}
                <tr>
                    <td><b>Validation Error:</b></td>
                    <td>{{ validation_error }}</td>
                </tr>
            {% endif %}

            {% if tls_protocol %}
            <tr>
                <td><b>TLS Protocol:</b></td>
                <td>{{ tls_protocol }}</td>
            </tr>
            {% endif %}

            {% if cipher_suite %}
            <tr>
                <td><b>Cipher Suite:</b></td>
                <td>{{ cipher_suite }}</td>
            </tr>
            {% endif %}

            {% if chain %}
                {% for cert in chain %}
                    {% if cert.subject %}
                           <tr>
                            <td><b>Certificate Receiver:</b></td>
                            <td>{{ cert.subject.common_name }}</td>
                        </tr>
                    {% endif %}
                    {% if cert.issuer %}
                        <tr>
                            <td><b>Certificate Authority:</b></td>
                            <td>{{ cert.issuer.common_name }}</td>
                        </tr>
                    {% endif %}

                {% endfor %}
            {% endif %}


{#            {% if certificate_authority %}#}
{#            <tr>#}
{#                <td><b>Certificate Authority:</b></td>#}
{#                <td>{{ certificate_authority }}</td>#}
{#            </tr>#}
{#            {% endif %}#}
{##}
{#            {% if signature_algorithm %}#}
{#            <tr>#}
{#                <td><b>Signature Algorithm:</b></td>#}
{#                <td>{{ signature_algorithm }}</td>#}
{#            </tr>#}
{#            {% endif %}#}

{#            {% if key_bits %}#}
{#            <tr>#}
{#                <td><b>Key Bits:</b></td>#}
{#                <td>{{ key_bits }}</td>#}
{#            </tr>#}
{#            {% endif %}#}
{#            #}
            {% if supported_protocols %}
            <tr><td><b>Supported Protocols:</b></td><td></td></tr>
                <tr>
                    <td style="text-align: center"><b>TLS V1.2</b></td>
                    <td>{% if supported_protocols.TLS_12 %}
                        <span class="label label-success">{{ supported_protocols.TLS_12 }}</span>
                        {% else %}
                        <span class="label label-danger">{{ supported_protocols.TLS_12 }}</span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td style="text-align: center"><b>TLS V1.1</b></td>
                    <td>{% if supported_protocols.TLS_11 %}
                        <span class="label label-success">{{ supported_protocols.TLS_11 }}</span>
                        {% else %}
                        <span class="label label-danger">{{ supported_protocols.TLS_11 }}</span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td style="text-align: center"><b>TLS V1.0</b></td>
                    <td>{% if supported_protocols.TLS_10 %}
                        <span class="label label-success">{{ supported_protocols.TLS_10 }}</span>
                        {% else %}
                        <span class="label label-danger">{{ supported_protocols.TLS_10 }}</span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td style="text-align: center"><b>SSL V3.0</b></td>
                    <td>{% if supported_protocols.SSL_30 %}
                        <span class="label label-success">{{ supported_protocols.SSL_30 }}</span>
                        {% else %}
                        <span class="label label-danger">{{ supported_protocols.SSL_30 }}</span>
                        {% endif %}
                    </td>
                </tr>
            {% endif %}
            {% if supported_cipher_suites %}
            <tr><td><b>Supported Ciphers Suites:</b></td><td></td></tr>
            <tr>
                <td style="text-align: center"><b>Null Ciphers</b></td>
                <td>{% if supported_cipher_suites.null_ciphers %}
                    {{ supported_cipher_suites.null_ciphers }}
                    {% else %}
                    Not Supported
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td style="text-align: center"><b>Anonymous Null Ciphers</b></td>
                <td>{% if supported_cipher_suites.anonymous_null_ciphers %}
                    {{ supported_cipher_suites.anonymous_null_ciphers }}
                    {% else %}
                    Not Supported
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td style="text-align: center"><b>Anonymous DH Ciphers</b></td>
                <td>{% if supported_cipher_suites.anonymous_dh_ciphers %}
                    {{ supported_cipher_suites.anonymous_dh_ciphers }}
                    {% else %}
                    Not Supported
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td style="text-align: center"><b>Export 40 Ciphers</b></td>
                <td>{% if supported_cipher_suites.export_40_ciphers %}
                    {{ supported_cipher_suites.export_40_ciphers }}
                    {% else %}
                    Not Supported
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td style="text-align: center"><b>Low Ciphers</b></td>
                <td>{% if supported_cipher_suites.low_ciphers %}
                    {{ supported_cipher_suites.low_ciphers }}
                    {% else %}
                    Not Supported
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td style="text-align: center"><b>Medium Ciphers</b></td>
                <td>{% if supported_cipher_suites.medium_ciphers %}
                    {{ supported_cipher_suites.medium_ciphers }}
                    {% else %}
                    Not Supported
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td style="text-align: center"><b>DES3 Ciphers</b></td>
                <td>{% if supported_cipher_suites.des3_ciphers %}
                    {{ supported_cipher_suites.des3_ciphers }}
                    {% else %}
                    Not Supported
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td style="text-align: center"><b>High Ciphers</b></td>
                <td>{% if supported_cipher_suites.high_ciphers %}
                    {{ supported_cipher_suites.high_ciphers }}
                    {% else %}
                    Not Supported
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td style="text-align: center"><b>FREAK</b></td>
                <td>{% if supported_cipher_suites.freak %}
                    {{ supported_cipher_suites.freak }}
                    {% else %}
                    Not Supported
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td style="text-align: center"><b>LogJam</b></td>
                <td>{% if supported_cipher_suites.logjam %}
                    {{ supported_cipher_suites.logjam }}
                    {% else %}
                    Not Supported
                    {% endif %}
                </td>
            </tr>
            {% endif %}
        </table>
    </div>
</div>
<script>

    $('#certificateTable .leftButton').on('click', function(event){
        event.preventDefault();
        var tempDate = $('.table_date_certificate').html();
        var data = "search/cert/{{ ip }}/".concat(tempDate).concat("/left");
        console.log(data);
        $.ajax({url : data, success: onSuccess});
    });

    $('#certificateTable .rightButton').on('click', function(event) {
        event.preventDefault();
        var tempDate = $('.table_date_certificate').html();
        var data = "search/cert/{{ ip }}/".concat(tempDate).concat("/right");
        console.log(data);
        $.ajax({url : data, success: onSuccess});
    });


    function onSuccess(result){
        reRenderCertificate(result);
    }


    function escapeHtml(unsafe) {
        return unsafe
                .replace(/&/g, "&amp;")
                .replace(/</g, "&lt;")
                .replace(/>/g, "&gt;")
                .replace(/"/g, "&quot;")
                .replace(/'/g, "&#039;");
     }

    function capitalizeFirstLetter(string) {
        string = string.toString();
        return string.charAt(0).toUpperCase() + string.slice(1);
    }

    function reRenderCertificate(result){
        console.log(result);
        if ($.isEmptyObject(result)){
            return;
        }
        $('.table_certificate').children().remove();
        if(result.date){
            $('.table_certificate').append('<tr> <td> <b>Date:</b></td> <td class="table_date_certificate">'
                    .concat(result.date).concat('</td></tr>'));
        }
        if(result.error){
            $('.table_certificate').append('<tr> <td> <b>Error:</b></td> <td>'
                    .concat(result.error).concat('</td></tr>'));
        }
        if(result.validate != null){
            $('.table_certificate').append('<tr><td><b>Validate Certificate:</b></td><td>'
                    .concat(capitalizeFirstLetter(result.validate), '</td></tr>'));
        }
        if(result.validation_error){
            $('.table_certificate').append('<tr><td><b>Validation Error:</b></td><td>'
                    .concat(result.validation_error, '</span></td></tr>'));
        }
        if(result.tls_protocol){
            $('.table_certificate').append('<tr> <td> <b>TLS Protocol:</b></td> <td>'
                    .concat(result.tls_protocol).concat('</td></tr>'));
        }
        if(result.cipher_suite){
            $('.table_certificate').append('<tr> <td> <b>Cipher Suite:</b></td> <td>'
                    .concat(result.cipher_suite).concat('</td></tr>'));
        }
{#        if(result.certificate_authority){#}
{#            $('.table_certificate').append('<tr> <td> <b>Certificate Authority:</b></td> <td>'#}
{#                    .concat(result.certificate_authority).concat('</td></tr>'));#}
{#        }#}
{#        if(result.signature_algorithm){#}
{#            $('.table_certificate').append('<tr> <td> <b>Signature Algorithm:</b></td> <td>'#}
{#                    .concat(result.signature_algorithm).concat('</td></tr>'));#}
{#        }#}
{#        if(result.key_bits){#}
{#            $('.table_certificate').append('<tr> <td> <b>Key Bits:</b></td> <td>'#}
{#                    .concat(result.key_bits).concat('</td></tr>'));#}
{#        }#}

        if(result.supported_protocols) {
            $('.table_certificate').append('<tr><td><b>Supported Ciphers Suites:</b></td><td></td></tr>');
            {# TLS 1.2 #}
            if (result.supported_protocols.TLS_12) {
                $('.table_certificate').append('<tr><td style="text-align: center"><b>TLS V1.2</b></td> ' +
                        '<td><span class="label label-success">' + capitalizeFirstLetter(result.supported_protocols.TLS_12) +
                        '</span></td></tr>');
            }
            else {
                $('.table_certificate').append('<tr><td style="text-align: center"><b>TLS V1.2</b></td> ' +
                        '<td><span class="label label-danger">' + capitalizeFirstLetter(result.supported_protocols.TLS_12) +
                        '</span></td></tr>');
            }
            {# TLS 1.1 #}
            if (result.supported_protocols.TLS_11) {
                $('.table_certificate').append('<tr><td style="text-align: center"><b>TLS V1.1</b></td> ' +
                        '<td><span class="label label-success">' + capitalizeFirstLetter(result.supported_protocols.TLS_11) +
                        '</span></td></tr>');
            }
            else {
                $('.table_certificate').append('<tr><td style="text-align: center"><b>TLS V1.1</b></td> ' +
                        '<td><span class="label label-danger">' + capitalizeFirstLetter(result.supported_protocols.TLS_11) +
                        '</span></td></tr>');
            }
            {# TLS 1.0 #}
            if (result.supported_protocols.TLS_10) {
                $('.table_certificate').append('<tr><td style="text-align: center"><b>TLS V1.0</b></td> ' +
                        '<td><span class="label label-success">' + capitalizeFirstLetter(result.supported_protocols.TLS_10) +
                        '</span></td></tr>');
            }
            else {
                $('.table_certificate').append('<tr><td style="text-align: center"><b>TLS V1.0</b></td> ' +
                        '<td><span class="label label-danger">' + capitalizeFirstLetter(result.supported_protocols.TLS_10) +
                        '</span></td></tr>');
            }
            {# SSL 3.0 #}
            if (result.supported_protocols.SSL_30) {
                 $('.table_certificate').append('<tr><td style="text-align: center"><b>SSL V3.0</b></td> ' +
                        '<td><span class="label label-success">' + capitalizeFirstLetter(result.supported_protocols.SSL_30) +
                        '</span></td></tr>');
            }
            else {
                   $('.table_certificate').append('<tr><td style="text-align: center"><b>SSL V3.0</b></td> ' +
                        '<td><span class="label label-danger">' + capitalizeFirstLetter(result.supported_protocols.SSL_30) +
                        '</span></td></tr>');
            }
        }
        if(result.supported_cipher_suites) {
            $('.table_certificate').append('<tr><td><b>Supported Ciphers Suites:</b></td><td></td></tr>');

            //Nulls
            var null_cipher = 'Not Supported'
            if (result.supported_cipher_suites.null_ciphers) {
                null_cipher = capitalizeFirstLetter(result.supported_cipher_suites.null_ciphers);
            }
            $('.table_certificate').append('<tr><td style="text-align: center"><b>Null Ciphers</b></td> <td>' + null_cipher + '</td></tr>');

            // Anon Nulls
            var anonymous_null_ciphers = 'Not Supported'
            if (result.supported_cipher_suites.anonymous_null_ciphers) {
                anonymous_null_ciphers = capitalizeFirstLetter(result.supported_cipher_suites.anonymous_null_ciphers);
            }
            $('.table_certificate').append('<tr><td style="text-align: center"><b>Anonymous Null Ciphers</b></td> <td>' + anonymous_null_ciphers + '</td></tr>');

            // Anon DH
            var anonymous_dh_ciphers = 'Not Supported'
            if (result.supported_cipher_suites.anonymous_dh_ciphers) {
                anonymous_dh_ciphers = capitalizeFirstLetter(result.supported_cipher_suites.anonymous_dh_ciphers);
            }
            $('.table_certificate').append('<tr><td style="text-align: center"><b>Anonymous DH Ciphers</b></td> <td>' + anonymous_dh_ciphers + '</td></tr>');

            // Export 40
            var export_40_ciphers = 'Not Supported'
            if (result.supported_cipher_suites.export_40_ciphers) {
                export_40_ciphers = capitalizeFirstLetter(result.supported_cipher_suites.export_40_ciphers);
            }
            $('.table_certificate').append('<tr><td style="text-align: center"><b>Export 40 Ciphers</b></td> <td>' + export_40_ciphers + '</td></tr>');

            // Low
            var low_ciphers = 'Not Supported'
            if (result.supported_cipher_suites.low_ciphers) {
                low_ciphers = capitalizeFirstLetter(result.supported_cipher_suites.low_ciphers);
            }
            $('.table_certificate').append('<tr><td style="text-align: center"><b>Low Ciphers</b></td> <td>' + low_ciphers + '</td></tr>');

            // Medium
            var medium_ciphers = 'Not Supported'
            if (result.supported_cipher_suites.medium_ciphers) {
                medium_ciphers = capitalizeFirstLetter(result.supported_cipher_suites.medium_ciphers);
            }
            $('.table_certificate').append('<tr><td style="text-align: center"><b>Medium Ciphers</b></td> <td>' + medium_ciphers + '</td></tr>');

            // DES3
            var des3_ciphers = 'Not Supported'
            if (result.supported_cipher_suites.des3_ciphers) {
                des3_ciphers = capitalizeFirstLetter(result.supported_cipher_suites.des3_ciphers);
            }
            $('.table_certificate').append('<tr><td style="text-align: center"><b>DES3 Ciphers</b></td> <td>' + des3_ciphers + '</td></tr>');

            // High
            var high_ciphers = 'Not Supported'
            if (result.supported_cipher_suites.high_ciphers) {
                high_ciphers = capitalizeFirstLetter(result.supported_cipher_suites.high_ciphers);
            }
            $('.table_certificate').append('<tr><td style="text-align: center"><b>High Ciphers</b></td> <td>' + high_ciphers + '</td></tr>');

            // Freak
            var freak = 'Not Supported'
            if (result.supported_cipher_suites.freak) {
                freak = capitalizeFirstLetter(result.supported_cipher_suites.freak);
            }
            $('.table_certificate').append('<tr><td style="text-align: center"><b>FREAK</b></td> <td>' + freak + '</td></tr>');

            // logjam
            var logjam = 'Not Supported'
            if (result.supported_cipher_suites.logjam) {
                logjam = capitalizeFirstLetter(result.supported_cipher_suites.logjam);
            }
            $('.table_certificate').append('<tr><td style="text-align: center"><b>LogJam</b></td> <td>' + logjam + '</td></tr>');
        }
    }
</script>
