<div class="box box-primary httpTable_{{ port }}" id="httpTable">
    <div class="box-header with-border">
        <h3 class="box-title"><b>HTTP</b> (port {{ port }})</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool leftButton"><i class="fa fa-chevron-left"></i></button>
            <button type="button" class="btn btn-box-tool rightButton"><i class="fa fa-chevron-right"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
    </div>
    <div class="box-body">
        <table id='tabla' class="table table-hover tabla_{{ port }}" >
            {% if scan_date %}
                <tr>
                    <td><b>Date:</b></td>
                    <td class="table_date_{{ port }}">{{ scan_date|date:"Y-m-d" }}</td>
                </tr>
            {% endif %}

            {% if error %}
                <tr>
                    <td><b>Error:</b></td>
                    <td><span class="label label-danger table_error">{{ error }}</span></td>
                </tr>
            {% endif %}

            {% if response %}
                <tr>
                    <td><b>Response:</b></td>
                    <td class="table_response">{{ response }}</td>
                </tr>
            {% endif %}

            {% if header %}
                <tr>
                    <td><b>Header:</b></td>
                    <td class="table_header">
                        {% for key, value in header.items %}
                            {{ key }}: {{ value }}<br>
                        {% endfor %}
                    </td>
                </tr>
            {% endif %}

            {% if index %}
                <tr>
                    <td><b>Index:</b></td>
                    <td class="table_index">{{ index | truncatechars_html:50}}</td>
                </tr>
            {% endif %}

            {%  if service.manufacturer %}
                <tr>
                    <td><b>Manufacturer:</b></td>
                    <td class="table_service_manufacturer">{{ service.manufacturer }}</td>
                </tr>
            {% endif %}
            {%  if service.product %}
                <tr>
                    <td><b>Product:</b></td>
                    <td class="table_service_product">{{ service.product }}</td>
                </tr>
            {% endif %}
            {%  if service.version %}
                <tr>
                    <td><b>Version:</b></td>
                    <td class="table_service_version">{{ service.version }}</td>
                </tr>
            {% endif %}

        </table>
    </div>
</div>
<script>
    $('.httpTable_{{ port }} .leftButton').on('click', Left('{{ port }}', '{{ ip }}'));
    $('.httpTable_{{ port }} .rightButton').on('click', Right('{{ port }}', '{{ ip }}'));
</script>
