<div class="panel panel-primary" id="httpTable">
    <div class="panel-heading" style="background-color: #3C8DBC">
        <h4>
            <a role="button" data-toggle="collapse" href="#{{ id }}" aria-expanded="true" aria-controls="{{ id }}">
                <span style="color: white"><b>HTTP</b> (port {{ port }})</span>
            </a>
            <button style="float: right; color: black; " class="rightButton">></button>
            <button style="float: right; color: black; " class="leftButton"><</button>
        </h4>
    </div>
    <div id="{{ id }}" class="panel-collapse collapse in">
        <table id='tabla' class="table table-hover" >
            {% if date %}
            <tr>
                <td><b>Date:</b></td>
                <td>{{ date }}</td>
            </tr>
            {% endif %}

            {% if error %}
            <tr>
                <td><b>Error:</b></td>
                <td><span class="label label-danger">{{ error }}</span></td>
            </tr>
            {% endif %}

            {% if response %}
                <tr>
                    <td><b>Response:</b></td>
                    <td>{{ response }} <span class="label label-success">Ok</span></td>
                </tr>
            {% endif %}

            {% if server %}
            <tr>
                <td><b>Server:</b></td>
                <td>{{ server }}</td>
            </tr>
            {% endif %}

            {% if content_type %}
            <tr>
                <td><b>Content Type:</b></td>
                <td>{{ content_type }}</td>
            </tr>
            {% endif %}

            {% if www_authenticate %}
            <tr>
                <td><b>WWW Authenticate:</b></td>
                <td>{{ www_authenticate }}</td>
            </tr>
            {% endif %}

            {% if header %}
            <tr>
                <td><b>Header:</b></td>
                <td>{{ header }}</td>
            </tr>
            {% endif %}

            {% if index %}
            <tr>
                <td><b>Index:</b></td>
                <td>{{ index | truncatechars_html:50}}</td>
            </tr>
            {% endif %}
            {% if service %}
                {%  if service.manufacturer %}
                <tr>
                    <td><b>Manufacturer:</b></td>
                    <td>{{ service.manufacturer }}</td>
                </tr>
                {% endif %}
                {%  if service.product %}
                <tr>
                    <td><b>Product:</b></td>
                    <td>{{ service.product }}</td>
                </tr>
                {% endif %}
                {%  if service.version %}
                <tr>
                    <td><b>Version:</b></td>
                    <td>{{ service.version }}</td>
                </tr>
                {% endif %}
            {% endif %}
        </table>
    </div>
</div>