$(function () {
    $('#{{ id }}').highcharts({
        title: {
            text: '{{ title }}',
            x: -20 //center
        },
        xAxis: {
            type: 'category',
            title: {
                text: '{{ xAxis }}'
            },
        },
        yAxis: {
            title: {
                text: '{{ yAxis }}'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        tooltip: {
            headerFormat: '<b>{series.name}</b> ({point.key})<br>',
            pointFormat: '{point.y} Host'
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series: [
            {% for serie in series %}
            {
            name: '{{ serie.name }}',
            data: [{% for data in serie.data %}['{{ data.0 }}', {{ data.1 }}],{% endfor %}]
            },
            {% endfor %}
            {name: 'ble', data:[['2015-11-06', 158000]]}
        ],
        credits: {
            enabled: false
        }
    });
});

