{% extends "base.html" %}
{% load staticfiles %}

{% block menu %}
    <li class="treeview">
        <a href="#"><i class="fa fa-line-chart"></i> <span>HTTP</span> <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
            <li><a href="{% url 'graphs/http-index' %}">Scans</a></li>
            <li><a href="{% url 'graphs/server' 80 %}">HTTP Server</a></li>
            <li><a href="{% url 'graphs/os' 80 %}">Operative Systems</a></li>
            <li><a href="{% url 'graphs/device' 80 %}">Device</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#"><i class="fa fa-line-chart"></i> <span>HTTPS</span> <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
            <li><a href="{% url 'graphs/https/key-bits' 443 %}">Key Bits</a></li>
            <li><a href="{% url 'graphs/https/validation' 443 %}">Validation</a></li>
            <li><a href="{% url 'graphs/https/signature' 443 %}">Signature</a></li>
            <li><a href="{% url 'graphs/https/cipher-suite' 443 %}">Cipher Suite</a></li>
            <li><a href="{% url 'graphs/https/tls-version' 443 %}">TLS Version</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#"><i class="fa fa-line-chart"></i> <span>ASN</span> <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
            <li><a href="{% url 'asn/top-asn' %}">Top ASN</a></li>
        </ul>
    </li>
{% endblock %}