{% extends "graphs/base.html" %}
{% load staticfiles %}
{% load ChartTemplate %}

{% block scripts %}
<script src="{% static "js/highcharts.js" %}"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script>
    {% bar_chart 'container' bars %}
</script>
{% endblock %}

{% block header %}
    <h1>{{ page_title }}</h1>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-10">
        <div class="panel panel-info">
            <div class="panel-heading">{{ panel_title }}</div>
            <div class="panel-body">
                <div id="container" style="height: 700px"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
