{% extends "base_menu.html" %}
{% load staticfiles %}
{% load ChartTemplate %}

{% block title %}
   {{ page_title }}
{% endblock %}

{% block scripts %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-10">
        <div class="panel panel-info">
            <div class="panel-heading">{{ panel_title }}</div>
            <div class="panel-body">
                <div class="text-center">
                    <p>
                        AS ASDOINASD 1234
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
