{% extends "base_menu.html" %}
{% load staticfiles %}
{% load ChartTemplate %}

{% block title %}
    OSR - Protocolo HTTPS
{% endblock %}

{% block scripts %}
    {% if number %}
        <script src="{% static "js/highcharts.js" %}"></script>
        <script src="{% static "js/highcharts-theme.js" %}"></script>
        <script>
            {% basic_column 'container' bars %}
        </script>
    {% endif %}
{% endblock %}

{#{% block header %}#}
{#    <h1>Protocolo HTTPS</h1>#}
{#{% endblock %}#}

{% block content %}
    <div class="row">
        <div class="col-lg-10">
            <!-- search form for AS Number -->
            <form action="{% url 'graphs/https/asn/validation' 443 %}" method="post" class="navbar-form">
                {% csrf_token %}
                <div class="input-group">
                    <input type="text" name="number" class="form-control" placeholder="Buscar AS e.g. 23140">
              <span class="input-group-btn">
                <button type="submit" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
              </span>
                </div>
            </form>
            <!-- /.search form -->
            {% if not number %}
                <div class="panel panel-info">
                    <div class="panel-heading">Búsqueda de certificados válidos por sistema autónomo</div>
                    <p style="color: red;">
                        No se ha ingresado sistema autónomo o número no válido. Debe ingresar SÓLO el número de sistema
                        autónomo.
                    </p>
                </div>
            {% endif %}
            {% if number %}
                <div class="row">
                    <div class="col-lg-10">
                        <div class="box">
                            <div class="box-header with-border">
                                <h1 class="box-title">Protocolo HTTPS - Certificados Validos ({{ scan_date }})</h1>
                            </div>
                            <div class="box-body">
                                <div id="container" style="height: 700px"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="box">
                            <div class="box-header with-border">
                                <h1 class="box-title">Opciones</h1>
                            </div>
                            <div class="box-body">
                                <div class="dropdown">
                                    <button class="btn btn-primary dropdown-toggle" type="button"
                                            data-toggle="dropdown">
                                        Fecha de Escaneo
                                        <span class="caret"></span></button>
                                    <ul class="dropdown-menu">
                                        {% for scan in scan_list %}
                                            <li><a href="{% url "graphs/https/asn/validation" port number scan %}">{{ scan }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
