{% extends "graphs/base.html" %}
{% load staticfiles %}
{% load ChartTemplate %}


{% block scripts %}
<script src="{% static "js/highcharts.js" %}"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script>
    {% bar_chart 'container' bars %}
    {% pie_chart_with_legend 'pie1' pie %}
    {% pie_chart 'pie2' pie %}
</script>
{% endblock %}

{% block content %}
<div class="row">
    <h1>HTTP Servers</h1>
    <div class="col-lg-10">
        <div class="panel panel-info">
            <div class="panel-heading">Web Server</div>
            <div class="panel-body"><div id="container" style="height: 700px"></div></div>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="panel panel-info">
            <div class="panel-heading">Web Server Options</div>
            <div class="panel-body">
                <ul class="nav nav-pills nav-stacked">
                    <li role="presentation" {% if port == '80' %}class="active"{% endif %}><a href="{% url "graphs/server" 80 %}">Port 80</a></li>
                    <li role="presentation" {% if port == '8000' %}class="active"{% endif %}><a href="{% url "graphs/server" 8000 %}">Port 8000</a></li>
                    <li role="presentation" {% if port == 'all' %}class="active"{% endif %}><a href="{% url "graphs/server/all" %}">All</a></li>
                </ul>
                {% ifnotequal port 'all' %}
                    <hr>
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                            Web Server Version
                            <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            {% for name in bars.xvalues %}
                                <li><a href="{% url "graphs/server" port name %}">{{ name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endifnotequal %}
            </div>
        </div>
    </div>
</div>

{% if port != 'all' and pie.data != None %}
<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-info">
            <div class="panel-heading">Web Server Version</div>
            <div class="panel-body"><div id="pie1"></div></div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="panel panel-info">
            <div class="panel-heading">Web Server Version</div>
            <div class="panel-body"><div id="pie2"></div></div>
        </div>
    </div>
</div>
{% endif %}

<div class="row">
    <div class="col-lg-6">

    </div>
    <div class="col-lg-6">

    </div>
</div>
{% endblock %}
