{% extends "base_menu.html" %}
{% load staticfiles %}
{% load ChartTemplate %}

{% block scripts %}
    {% if number %}
        <script src="{% static "js/highcharts.js" %}"></script>
        <script src="{% static "js/highcharts-theme.js" %}"></script>
        <script>
            {% basic_column 'container' bars %}
        </script>
    {% endif %}
{% endblock %}

{% block header %}
    <h1>HTTP Protocol Operative Systems</h1>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-10">
    <!-- search form for AS Number -->
            <form action="{% url 'graphs/asn/os' 80 %}" method="post" class="navbar-form">
                {% csrf_token %}
            <div class="input-group">
              <input type="text" name="number" class="form-control" placeholder="Buscar AS e.g. 23140">
              <span class="input-group-btn">
                <button type="submit" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
              </span>
                </div>
            </form>
            <!-- /.search form -->
        {% if not number %}
            <div class="panel panel-info">
            <div class="panel-heading">Búsqueda de sistema operativo por sistema autónomo</div>
            <p style="color: red;">
                No se ha ingresado sistema autónomo o número no válido. Debe ingresar SÓLO el número de sistema autónomo.
            </p>
            </div>
        {% endif %}
        {% if number %}
            <div class="row">
                <div class="col-lg-10">
                    <div class="panel panel-info">
                        <div class="panel-heading">Operative System of Server</div>
                        <div class="panel-body">
                            <div id="container" style="height: 700px"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="panel panel-info">
                        <div class="panel-heading">Operative Systems Options</div>
                        <div class="panel-body">
                            <ul class="nav nav-pills nav-stacked">
                                <li role="presentation" {% if port == '80' %}class="active"{% endif %}><a href="{% url "graphs/asn/os" 80 number scan_date %}">Port 80</a></li>
                                <li role="presentation" {% if port == '443' %}class="active"{% endif %}><a href="{% url "graphs/asn/os" 443 number scan_date %}">Port 443</a></li>
                                <li role="presentation" {% if port == '8000' %}class="active"{% endif %}><a href="{% url "graphs/asn/os" 8000 number scan_date %}">Port 8000</a></li>
                                <li role="presentation" {% if port == '8080' %}class="active"{% endif %}><a href="{% url "graphs/asn/os" 8080 number scan_date %}">Port 8080</a></li>
                                <li role="presentation" {% if port == 'all' %}class="active"{% endif %}><a href="{% url "graphs/asn/os/all" number scan_date %}">All</a></li>
                            </ul>
                        {% ifnotequal port 'all' %}
                            <hr>
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                    Date of Scan
                                    <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    {% for scan in scan_list %}
                                        <li><a href="{% url "graphs/asn/os" port number scan %}">{{ scan }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% else %}
                            <hr>
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                    Date of Scan
                                    <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    {% for scan in scan_list %}
                                        <li><a href="{% url "graphs/asn/os/all" number scan %}">{{ scan }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endifnotequal %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
