{% extends "graphs/base.html" %}
{%  load staticfiles %}

{% block scripts %}
<script src="{% static "js/highcharts.js" %}"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script>
$(function () {
    $('#container').highcharts({
        chart: {
            type: 'bar'
        },
        title: {
            text: '{{ bars.title }}'
        },
        xAxis: {
            title: {
                text: '{{ bars.xaxis }}'
            },
            categories: [{% for n in bars.xvalues %}'{{ n }}',{% endfor %}]
        },
        yAxis: {
            title: {
                text: '{{ bars.yaxis }}'
            }
        },
        series: [
            {% for elem in bars.values %}
            {
            name: '{{ elem.name }}',
            data: [{% for v in elem.yvalue %}{{ v }},{% endfor %}]
            },
            {% endfor %}
        ],
    });
});

$(function () {

    $(document).ready(function () {

        // Build the chart
        $('#pie1').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: '{{ pie1.name }} version'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: false
                    },
                    showInLegend: true
                }
            },
            series: [{
                name: 'Version',
                colorByPoint: true,
                data: [
                {% for elem in pie1.data %}
                    {
                        name: '{{elem.0}}',
                        y: {{ elem.1 }}
                    },
                {% endfor %}
                ]
            }]
        });
    });
});

$(function () {
    $('#pie2').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: '{{ pie1.name }} version'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            name: 'Brands',
            colorByPoint: true,
            data: [
                {% for elem in pie1.data %}
                    {
                        name: '{{elem.0}}',
                        y: {{ elem.1 }}
                    },
                {% endfor %}
            ]
        }]
    });
});

</script>
{% endblock %}

{% block content %}
<div class="row">
    <h1>HTTP Servers</h1>
    <div class="col-lg-10">
        <div class="panel panel-info">
            <div class="panel-heading">Web Server</div>
            <div class="panel-body"><div id="container" style="height: 700px"></div></div>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="panel panel-info">
            <div class="panel-heading">Web Server Options</div>
            <div class="panel-body">
                <ul class="nav nav-pills nav-stacked">
                    <li role="presentation" {% if port == '80' %}class="active"{% endif %}><a href="{% url "graphs/server" 80 %}">Port 80</a></li>
                    <li role="presentation" {% if port == '8000' %}class="active"{% endif %}><a href="{% url "graphs/server" 8000 %}">Port 8000</a></li>
                    <li role="presentation" {% if port == 'all' %}class="active"{% endif %}><a href="{% url "graphs/server/all" %}">All</a></li>
                </ul>
                {% ifnotequal port 'all' %}
                    <hr>
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                            Web Server Version
                            <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            {% for name in bars.xvalues %}
                                <li><a href="{% url "graphs/server" port name %}">{{ name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endifnotequal %}
            </div>
        </div>
    </div>
</div>

{% if port != 'all' and pie1.data != None %}
<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-info">
            <div class="panel-heading">Web Server Version</div>
            <div class="panel-body"><div id="pie1"></div></div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="panel panel-info">
            <div class="panel-heading">Web Server Version</div>
            <div class="panel-body"><div id="pie2"></div></div>
        </div>
    </div>
</div>
{% endif %}

<div class="row">
    <div class="col-lg-6">

    </div>
    <div class="col-lg-6">

    </div>
</div>
{% endblock %}
