{% extends "graphs/base.html" %}
{% load staticfiles %}
{% load modelTable %}

{% block scripts %}
    <script src="http://maps.googleapis.com/maps/api/js" xmlns="http://www.w3.org/1999/html"></script>
<script>
function initialize() {
  var mapProp = {
    center:new google.maps.LatLng({{ lat }},{{ long }}),
    zoom:12,
    mapTypeId:google.maps.MapTypeId.ROADMAP
  };
  var map = new google.maps.Map(document.getElementById("map"),mapProp);
  var marker = new google.maps.Marker({
    position: { lat:{{ lat }}, lng:{{ long }}} ,
    map: map
  });

}
google.maps.event.addDomListener(window, 'load', initialize);
</script>
</head>
{% endblock %}

{% block content %}
    <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h1>Query: <small>{{ ip }}</small></h1>
        <hr style="background-color: #3C8DBC; height: 2px">
        <div class="row">
            <div class="col-md-8">
                <ul style="list-style-type: none">
                    <li><b>IP:</b> {{ ip }}</li>
                    <li><b>DNS Name: </b> {{ reverse }}</li>
                    <li><b>Manufacturer: </b> PC Factory </li>
                    <li><b></b></li>
                    <li><b>Operative System: </b> CentOS </li>
                    <li><b>Operative System Version: </b> 14.3.5 </li>
                    <li><b>Device Type: </b> Server </li>
                </ul>
            </div>
            <div class="col-md-4">
                <div id="map" style="height: 200px"></div>
            </div>
         </div>
        <div class="row">
            <div class="col-md-8">
                <hr style="background-color: #3C8DBC; height: 2px">

                {% if http80 %}
                    {% http_table 'http80' '80' http80 %}
                {% endif %}

                {% if http443 %}
                    {% http_table 'http443' '443' http443 %}
                {% endif %}



                <hr style="background-color: #3C8DBC; height: 2px">

                <div class="panel panel-primary">
                    <div class="panel-heading" style="background-color: #3C8DBC"><h4><b>HTTPS  Certificate</b> (port 443)</h4> </div>
                    <table class="table table-hover">
                        <tr>
                            <td><b>Date:</b></td>
                            <td>21/01/2016</td>
                        </tr>
                        <tr>
                            <td><b>Error:</b></td>
                            <td><span class="label label-danger">Error</span></td>
                        </tr>
                        <tr>
                            <td><b>Validation:</b></td>
                            <td><span class="label label-success">True</span></td>
                        </tr>
                        <tr>
                            <td><b>TLS Protocol:</b></td>
                            <td>TLS v1.0</td>
                        </tr>
                        <tr>
                            <td><b>Cipher Suite:</b></td>
                            <td>NULL NULL</td>
                        </tr>
                        <tr>
                            <td><b>Signature Algorithm:</b></td>
                            <td>RSA plas</td>
                        </tr>
                        <tr>
                            <td><b>Chain:</b></td>
                            <td>Chain Chain Chain</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
    <div class="col-md-2"></div>
    </div>
{% endblock %}